* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.right-align-content {
    display: flex;
    justify-content: flex-end;
}

.navigation-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mat-toolbar {
    background-color: cornflowerblue;
    color: white;
}

.mat-button {
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

@media(max-width: 959px) {
    mat-toolbar {
        border-radius: 0px;
    }
}