<div class="outerbox">
    <div class="innerbox">
        <header class="signupheader">
            <h1>Signup</h1>
            <p>It just takes 30 seconds</p>
        </header>
        <main class="signupbody">
            <form action="#" [formGroup]="form" (ngSubmit)="submit()">
                <p>
                    <label for="fullname">Full Name</label>
                    <input type="text" id="fullname" placeholder="Vaibhav Gautam" formControlName="full_name" required>
                </p>

                <p>
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="valid email id" formControlName="email" required>
                </p>

                <p>
                    <label for="password">New Password</label>
                    <input type="password" id="password" placeholder="at least 8 characters" formControlName="password" required>
                </p>

                <p>
                    <label for="dob">Date of Birth</label>
                    <input type="date" id="dob" placeholder="DOB" formControlName="dob" required>
                </p>

                <p>
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" placeholder="add dial code" formControlName="phone" required>
                </p>

                <p>
                    <label for="address">Address</label>
                    <input type="text" id="address" placeholder="full address" formControlName="address" required>
                </p>

                <p>
                    <label for="zipcode">Zipcode</label>
                    <input type="text" id="zipcode" placeholder="zipcode" formControlName="zipcode" required>
                </p>

                <p class="selectionclass">

                    <label for="selection">Volunteer</label>
                    <input type="radio" name="selection" id="selection" value="" formControlName="who">

                    <label for="selection">Owner</label>
                    <input type="radio" name="selection" id="selection" value="" formControlName="who">

                </p>

                <p>
                    <input type="submit" id="button" value="Create Account">
                </p>
            </form>
        </main>
        <footer class="signupfooter">
            <p>Already have an Account? <a href="#">Login</a></p>
        </footer>
    </div>
    <div class="circle c1"></div>
    <div class="circle c2"></div>
</div>

<!-- <mat-card>
    <mat-card-title>Volunteer Registration</mat-card-title>
    <br>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">

            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Full Name" formControlName="full_name">
                </mat-form-field>
            
                &nbsp;

                <mat-form-field>
                    <input type="email" matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="date" matInput placeholder="DOB" formControlName="dob">
                </mat-form-field>
                
                &nbsp;

                <mat-form-field>
                    <input type="tel" matInput placeholder="Phone" formControlName="phone">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <textarea matInput placeholder="Address" formControlName="address"></textarea>
                </mat-form-field>
                
                &nbsp;
                
                <mat-form-field>
                    <input type="text" matInput placeholder="Zipcode" formControlName="zipcode">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </p>

            <div class="right-align-content">
                <button type="submit" mat-button class="button">Submit</button>
            </div>

        </form>

    </mat-card-content>
</mat-card> -->