<div class="container">
  <div class="smallboldtext bannertext">Transforming Leftovers into Culinary Delights: Your Gateway to Sustainable and
    Flavorful Cooking
  </div>
</div>

<nav>
  <div class="container mainnav flex">
    <a href="/dashboard" class="companylogo flex">
      <img src="https://raw.githubusercontent.com/GNEC2023/assets/4551b5ad1d24cf8ea661fb246f936803ac91751f/Assets/asset1.png" alt=""> Food Donor

    </a>

    <div class="navlinks ">
      <ul class="flex ">

        <li><a href="/login" class="hoverlinks primarybutton">Sign in</a></li>
        <li><a href="/volunteerReg" class="hoverlinks primarybutton">Sign up</a></li>
        <li><a href="#" class="hoverlinks contactbutton ">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div class="container headersection flex">
    <div class="headerleft">
      <h1>Food Donor</h1>
      <p>Connecting Volunteers and Restaurants to Feed the Less Fortunate </p>
      <a href="/donorSearch" class="primarybutton getstartedbutton">Get Started</a>
    </div>
    <div class="headerright">
      <img src="https://raw.githubusercontent.com/GNEC2023/assets/4551b5ad1d24cf8ea661fb246f936803ac91751f/Assets/asset2.jpeg" alt="">
    </div>

  </div>
</header>

<section class="examplessection">
  <div class="container">
    <div class="exampleheading flex">
      <h2>Donate Your Food Now!</h2>
      <a class="secondarybutton" href="#">See more examples &#8594;</a>
    </div>
    <div class="examplesarea flex">
      <a href="#" class="examplescard" style="background: url(https://raw.githubusercontent.com/GNEC2023/assets/4551b5ad1d24cf8ea661fb246f936803ac91751f/Assets/asset36.jpg); background-size: cover;">
      </a>

      <a href="#" class="examplescard" style="background: url(https://raw.githubusercontent.com/GNEC2023/assets/4551b5ad1d24cf8ea661fb246f936803ac91751f/Assets/asset37.jpg); background-size: cover; ">
      </a>

      <a href="#" class="examplescard" style="background: url(https://raw.githubusercontent.com/GNEC2023/assets/4551b5ad1d24cf8ea661fb246f936803ac91751f/Assets/asset38.jpg); background-size: cover;">
      </a>

      <a href="#" class="examplescard" style="background: url(https://raw.githubusercontent.com/GNEC2023/assets/4551b5ad1d24cf8ea661fb246f936803ac91751f/Assets/asset39.jpg); background-size: cover;">
      </a>
    </div>
  </div>
</section>

<section class="ctasection">
  <div class="container">
    <div class="ctalist">

    </div>

  </div>
  <div class="ctabackground flex">
    <div class="container ctacontainer flex">
      <div class="ctatext flex">

        <h2 class="ctaheading">Our Inspiration</h2>

        <p>The pressing predicament of food scarcity and widespread starvation looms large in modern society, a universally recognised challenge. However, beneath this acknowledged crisis lies an equally unsettling issue: the wastage of precious sustenance. Delving into this concern, we went in pursuit of knowledge with a clear objective - to bridge the gap between those who discard sustenance thoughtlessly and those who desperately seek it.</p>
        <h3 class="ctah3">Our goals:
        </h3>

        <div class="ctalist flex">

          <ul>

            <li>1 Million+ people fed in a year</li>
            <li>Have more than 5000 volunteers registered</li>
            <li>Have more than 1000 resto owners registered</li>

          </ul>

        </div>
        <a class="primarybutton" href="#">
          Learn more &#8594;
        </a>

      </div>

      <div class="ctaimg flex">

        <img src="https://raw.githubusercontent.com/GNEC2023/assets/4551b5ad1d24cf8ea661fb246f936803ac91751f/Assets/asset40.png" alt="">

      </div>

    </div>

  </div>
</section>

<div class="lastcontainer flex">
  <div class="container flex">

    <h2>Start Donating Today!</h2>
    <p class="lastcontainerp">One Person's Waste is another Person's Treasure</p>
  </div>
  <a class="primarybutton lastbutton flex" href="#">Get started</a>
</div>


<div class="subfooter">

  <div class="container subfootercontainer flex">
    <a href="#" class="hoverlink">Privacy policy</a>
    <a href="#" class="hoverlink">Terms & Condition</a>
    <a href="#" class="hoverlink">Security Information</a>
    <a href="#" class="hoverlink"><i class="fa-brands fa-facebook"></i></a>
    <a href="#" class="hoverlink"><i class="fa-brands fa-twitter"></i></a>
    <a href="#" class="hoverlink"><i class="fa-brands fa-linkedin"></i></a>
    <a href="#" class="hoverlink"><i class="fa-brands fa-youtube"></i></a>
  </div>

</div>

<script src="https://kit.fontawesome.com/dbe61b8943.js" crossorigin="anonymous"></script>